@font-face {
  font-family: RoyalBrand;
  src: url("RoyalBrand-Regular.otf");
}

* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
  background-color: black;
  min-height: 100vh;
  align-items: center;
}

.popup {
  width: 230px;
  height: 130px;
  background-color: #fff;
  padding: 20px;
  border-radius: 15px;
}

#popup {
  display: block;
}

.popup p {
  margin: 5px;
  text-align: center;
}

.popup button {
  width: 100%;
  height: 50px;
  border-radius: 15px;
  margin-top: 12px;
  border: 1px solid #bbb;
}

.flipper {
  width: 250px;
  height: 350px;
  border-radius: 5px;
  margin: auto;
  background-color: white;
  perspective: 1000px;
  cursor: pointer;
  position: relative;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

.flip-container.flipped .flipper {
  transform: rotateY(180deg);
}

#container {
  display: none;
}

.face {
  position: absolute;
  width: 220px;
  height: 280px;
  margin-left: 14px;
  margin-top: 14px;
  backface-visibility: hidden; /* Cache la face non visible */
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  font-size: 24px;
  font-weight: bold;
  border: 1px solid #aaa;
}

.back {
  transform: rotateY(180deg); /* Prépositionner la face arrière */
}

/*.polaroid-container {
  background-color: transparent;
  border: 1px solid #aaa;
  margin-left: 14px;
  margin-top: 14px;
  border-radius: 6px;
  width: 220px;
  height: 280px;
  position: relative;
}*/

.question {
  width: 240px;
  height: 40px;
  bottom: -48px;
  left: -5px;
  text-align: center;
  opacity: 1;
  font-family: RoyalBrand;
  font-size: 20px;
  z-index: 0;
  position: absolute;
}

#question {
  opacity: 0;
}

.opacity-div {
  width: 220px;
  height: 280px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 999;
  background-color: white;
  border-radius: 6px;
  opacity: 1;
}

.photo-div {
  position: absolute;
  top: 0;
  left: 0;
  width: 220px;
  height: 280px;
  border-radius: 6px;
  background-image: url("photo.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: -120px 0px;
}

#resa {
  display: flex;
}

.resa-text {
  margin: auto;
  font-family: RoyalBrand;
  text-align: center;
  font-size: 18px;
}

#cover {
  width: 248px;
  height: 40px;
  position: absolute;
  background-color: #fff;
  bottom: -48px;
  left: -14px;
  z-index: 999;
}
